body {
}

p { color: #7a7c7f; font-size: 40px; font-family: "Libre Baskerville", serif; line-height: 70px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 20%; }

.bigger {font-size:200%; color: #ff0000;}